@-webkit-keyframes spinner {
	 0% {
		 -webkit-transform: rotate(0deg);
		 transform: rotate(0deg);
	}
	 100% {
		 -webkit-transform: rotate(360deg);
		 transform: rotate(360deg);
	}
}
 @keyframes spinner {
	 0% {
		 -webkit-transform: rotate(0deg);
		 transform: rotate(0deg);
	}
	 100% {
		 -webkit-transform: rotate(360deg);
		 transform: rotate(360deg);
	}
}

/*
 html {
	 box-sizing: border-box;
}
 * {
	 box-sizing: inherit;
}
 *::after {
	 box-sizing: inherit;
}
 *::before {
	 box-sizing: inherit;
}
 body {
	 overflow-y: scroll;
	 margin: 0;
}
*/

 .arlo .arlo-loading-overlay {
	 position: fixed;
	 z-index: 999;
	 height: 2em;
	 width: 2em;
	 overflow: show;
	 margin: auto;
	 bottom: 50%;
	 top: 50%;
	 left: 50%;
	 right: 50%;
}
 .arlo .arlo-loading-overlay:before {
	 content: '';
	 display: block;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-color: rgba(255, 255, 255, 0.3);
}
 .arlo .arlo-loading-overlay:not(:required) {
	 font: 0/0 a;
	 color: transparent;
	 text-shadow: none;
	 background-color: transparent;
	 border: 0;
}
 .arlo .arlo-loading-overlay:not(:required):after {
	 content: '';
	 display: block;
	 font-size: 10px;
	 width: 1em;
	 height: 1em;
	 margin-top: -0.5em;
	 -webkit-animation: spinner 1500ms infinite linear;
	 animation: spinner 1500ms infinite linear;
	 border-radius: 0.5em;
	 box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/*
 .arlo html [type="button"] {
	 -webkit-appearance: button;
}
 .arlo body {
	 margin: 0;
}
 .arlo article {
	 display: block;
}
 .arlo aside {
	 display: block;
}
 .arlo details {
	 display: block;
}
 .arlo figcaption {
	 display: block;
}
 .arlo figure {
	 display: block;
	 margin: 1.5em 40px;
}
 .arlo footer {
	 display: block;
}
 .arlo header {
	 display: block;
}
 .arlo main {
	 display: block;
}
 .arlo menu {
	 display: block;
}
 .arlo nav {
	 display: block;
}
 .arlo section {
	 display: block;
}
 .arlo summary {
	 display: block;
}
 .arlo audio {
	 display: inline-block;
}
 .arlo audio:not([controls]) {
	 display: none;
	 height: 0;
}
 .arlo canvas {
	 display: inline-block;
}
 .arlo progress {
	 display: inline-block;
	 vertical-align: baseline;
}
 .arlo video {
	 display: inline-block;
}
 .arlo template {
	 display: none;
}
 .arlo [hidden] {
	 display: none;
}
 .arlo a {
	 background-color: transparent;
	 -webkit-text-decoration-skip: objects;
}
 .arlo a:active {
	 outline-width: 0;
}
 .arlo a:hover {
	 outline-width: 0;
}
 .arlo abbr[title] {
	 border-bottom: none;
	 text-decoration: underline;
	 text-decoration: underline dotted;
}
 .arlo b {
	 font-weight: inherit;
	 font-weight: bolder;
}
 .arlo strong {
	 font-weight: inherit;
	 font-weight: bolder;
}
 .arlo code {
	 font-family: monospace, monospace;
	 font-size: 1em;
}
 .arlo kbd {
	 font-family: monospace, monospace;
	 font-size: 1em;
}
 .arlo samp {
	 font-family: monospace, monospace;
	 font-size: 1em;
}
 .arlo dfn {
	 font-style: italic;
}

 .arlo mark {
	 background-color: #ff0;
	 color: #000;
}
 .arlo small {
	 font-size: 80%;
}
 .arlo sub {
	 font-size: 75%;
	 line-height: 0;
	 position: relative;
	 vertical-align: baseline;
	 bottom: -0.25em;
}
 .arlo sup {
	 font-size: 75%;
	 line-height: 0;
	 position: relative;
	 vertical-align: baseline;
	 top: -0.5em;
}
 .arlo img {
	 border-style: none;
}
 .arlo svg:not(:root) {
	 overflow: hidden;
}
 .arlo hr {
	 box-sizing: content-box;
	 height: 0;
	 overflow: visible;
}
 .arlo pre {
	 font-family: monospace, monospace;
	 font-size: 1em;
}
 .arlo button {
	 font: inherit;
	 margin: 0;
	 overflow: visible;
	 text-transform: none;
	 -webkit-appearance: button;
}
 .arlo button::-moz-focus-inner {
	 border-style: none;
	 padding: 0;
}
 .arlo button:-moz-focusring {
	 outline: 1px dotted ButtonText;
}
 .arlo input {
	 font: inherit;
	 margin: 0;
	 overflow: visible;
}
 .arlo optgroup {
	 font: inherit;
	 margin: 0;
	 font-weight: bold;
}
 .arlo select {
	 font: inherit;
	 margin: 0;
	 text-transform: none;
	 padding: 5px 60px 5px 0;
	 cursor: pointer;
	 background-color: transparent;
	 color: #afafbd;
}
 .arlo select:hover {
	 opacity: 0.7;
}
 .arlo textarea {
	 font: inherit;
	 margin: 0;
	 overflow: auto;
}
 .arlo [type="reset"] {
	 -webkit-appearance: button;
}
 .arlo [type="reset"]::-moz-focus-inner {
	 border-style: none;
	 padding: 0;
}
 .arlo [type="reset"]:-moz-focusring {
	 outline: 1px dotted ButtonText;
}
 .arlo [type="submit"] {
	 -webkit-appearance: button;
}
 .arlo [type="submit"]::-moz-focus-inner {
	 border-style: none;
	 padding: 0;
}
 .arlo [type="submit"]:-moz-focusring {
	 outline: 1px dotted ButtonText;
}
 .arlo [type="button"]::-moz-focus-inner {
	 border-style: none;
	 padding: 0;
}
 .arlo [type="button"]:-moz-focusring {
	 outline: 1px dotted ButtonText;
}
 .arlo [type="checkbox"] {
	 box-sizing: border-box;
	 padding: 0;
}
 .arlo [type="radio"] {
	 box-sizing: border-box;
	 padding: 0;
}
 .arlo [type="number"]::-webkit-inner-spin-button {
	 height: auto;
}
 .arlo [type="number"]::-webkit-outer-spin-button {
	 height: auto;
}
 .arlo [type="search"] {
	 -webkit-appearance: textfield;
	 outline-offset: -2px;
}
 .arlo [type="search"]::-webkit-search-cancel-button {
	 -webkit-appearance: none;
}
 .arlo [type="search"]::-webkit-search-decoration {
	 -webkit-appearance: none;
}
 .arlo::-webkit-input-placeholder {
	 color: inherit;
	 opacity: 0.54;
}
 .arlo::-webkit-file-upload-button {
	 -webkit-appearance: button;
	 font: inherit;
}
 .arlo fieldset {
	 border: 1px solid #c0c0c0;
	 margin: 0 2px;
	 padding: 0.35em 0.625em 0.75em;
}
 .arlo legend {
	 box-sizing: border-box;
	 display: table;
	 max-width: 100%;
	 white-space: normal;
	 color: inherit;
	 padding: 0;
}
*/

 .arlo ol {
	 list-style: none;
	 padding: 0;
	 margin: 0;
}
 .arlo ul {
	 list-style: none;
	 padding: 0;
	 margin: 0;
}
 .arlo li {
	 list-style: none;
	 padding: 0;
	 margin: 0;
}
 .arlo .arlo-no-results-found {
	 text-align: center;
	 margin: 20px auto 0;
	 border-radius: 5px;
	 box-shadow: 0 0 10px 5px #e6e6e6;
	 padding: 16px;
	 margin-bottom: 12px;
	 background: white;
	 text-align: center;
}
 .arlo .arlo-no-results-found hr {
	 height: 1px;
	 border: 0;
	 border-top: 1px solid #ececec;
	 height: 1px;
	 border: 0;
	 border-top: 1px solid #ececec;
}
 .arlo .arlo-bg-color-primary {
	 background-color: #002b5c;
}
 .arlo .arlo-bg-color-secondary {
	 background-color: #27b898;
}
 .arlo .arlo-bg-color-filters {
	 background-color: #f4f7f9;
}
 .arlo .arlo-bg-color-highlight {
	 background-color: #fffdf7;
}
 .arlo .arlo-bg-color-normal {
	 background-color: #fcfcfc;
}
 .arlo .arlo-bg-color-darker {
	 background-color: #f7f7f7;
}
 .arlo .arlo-bg-color-darkest {
	 background-color: #f2f2f2;
}
 .arlo .arlo-text-color-primary {
	 color: #002b5c;
}
 .arlo .arlo-text-color-secondary {
	 color: #27b898;
}
 .arlo .arlo-text-color-contrast {
	 color: #fff;
}
 .arlo .arlo-text-color-lightest {
	 color: #bcbcbc;
}
 .arlo .arlo-text-color-light {
	 color: #969696;
}
 .arlo .arlo-text-color-normal {
	 color: #969696;
}
 .arlo .arlo-text-color-dark {
	 color: #565656;
}
 .arlo .arlo-text-color-link {
	 color: #27b898;
}
 .arlo .arlo-font-size-larger {
	 font-size: 110%;
}

 .arlo .arlo-clearfix:after {
	 visibility: hidden;
	 display: block;
	 font-size: 0;
	 content: " ";
	 clear: both;
	 height: 0;
}


 .arlo .arlo-event-list {
	 margin-top: 10px;
}
 .arlo .arlo-event-list:after {
	 visibility: hidden;
	 display: block;
	 font-size: 0;
	 content: " ";
	 clear: both;
	 height: 0;
	 visibility: hidden;
	 display: block;
	 font-size: 0;
	 content: " ";
	 clear: both;
	 height: 0;
}


 .arlo * {
	 box-sizing: border-box;
}
 .arlo * html .arlo-clearfix {
	 zoom: 1;
}
 .arlo *:first-child + html .arlo-clearfix {
	 zoom: 1;
}





/* CLASS FILTERS ----------------------------------------------------------- */


/*
 .arlo #arlo-filter-toggle {
	 display: none;
}
 .arlo .arlo-filters .arlo-other-filters {
	 max-width: 100%;
	 padding: 6px;
}
 .arlo .arlo-filters .arlo-onlineOrVenueFilterList {
	 display: inline-block;
	 margin: 0;
}
 .arlo .arlo-filters .arlo-onlineOrVenueFilterList li {
	 display: inline-block;
	 cursor: pointer;
	 padding: 10px 20px;
}
 .arlo .arlo-filters .arlo-onlineOrVenueFilterList .arlo-onlineOrVenueListItem:first-child {
	 border-radius: 15px 0 0 15px;
}
 .arlo .arlo-filters .arlo-onlineOrVenueFilterList .arlo-onlineOrVenueListItem:last-child {
	 border-radius: 0 15px 15px 0;
}
 .arlo .arlo-filters .arlo-filter-unordered-list li {
	 display: inline-block;
	 cursor: pointer;
	 padding: 3px 8px;
	 background-color: transparent;
	 padding: 9px 16px;
	 margin: 0 5px;
	 transition: all 0.3s ease-in-out;
	 -webkit-transition: all 0.3s ease-in-out;
}
 .arlo .arlo-filters .arlo-filter-unordered-list li:hover {
	 background-color: #27b898;
	 color: white;
	 border-radius: 3px;
	 font-weight: bold;
}
 .arlo .arlo-filters .arlo-filter-unordered-list li.selected {
	 background-color: #002b5c;
	 color: white;
}
 .arlo .arlo-filters div[id^="filter-"] {
	 display: inline-block;
	 padding-right: 10px;
}
 .arlo .arlo-filters div[id*="filter-"] {
	 display: inline-block;
	 padding-right: 10px;
}
 .arlo .arlo-filters select {
	 display: inline;
	 border: none;
}
 .arlo .arlo-filters input.arlo-search {
	 display: inline;
	 background-color: #f4f7f9;
	 border: none;
	 padding: 10px 24px;
}
 .arlo .arlo-filters .arlo-show-more {
	 cursor: pointer;
	 padding: 3px 8px;
}
 .arlo .arlo-filters .arlo-onlineOrVenueListItem.selected {
	 color: #fff;
	 background-color: #0186e3;
}
 .arlo .arlo-filters .arlo-timezone-select {
	 display: none;
	 background-color: transparent;
	 width: 400px;
}
 .arlo .arlo-filters .arlo-timezone-select:focus {
	 outline: none;
	 background-color: transparent !important;
}
*/




/* CLASS LIST (GRID) ----------------------------------------------------------- */

.arlo-eventtemplatecatalogue-listitem {
}

 .arlo .arlo-event-list[max-width~="499px"] .arlo-event-listitem {
	 width: 100%;
	 display: block;
}
 .arlo .arlo-event-list[min-width~="500px"] .arlo-event-listitem {
	 width: 50%;
}
 .arlo .arlo-event-list[min-width~="768px"] .arlo-event-listitem {
	 width: 33.33333%;
}
 .arlo .arlo-event-list[min-width~="1024px"] .arlo-event-listitem {
	 width: 25%;
}
 .arlo .arlo-event-list[min-width~="1280px"] li {
	 width: 25%;
}
 .arlo .arlo-event-list[min-width~="1520px"] li {
	 width: 25%;
}

 .arlo .arlo-page-title {
	 font-size: 2em;
	 line-height: 1;
	 margin-bottom: 12px;
}
 .arlo .arlo-page-title[max-width~="550px"] {
	 font-size: 1.5em;
	 margin-bottom: 0;
}
 .arlo .arlo-page-title[min-width~="551px"][max-width~="1279px"] {
	 font-size: 2em;
}

 .arlo .arlo-main-content .arlo-summary {
	 font-weight: normal;
	 font-size: 1em;
	 line-height: 1.5;
}
 .arlo #event-list .arlo-event-listitem {
	 text-align: initial;
}
 .arlo .arlo-content-field-listitem {
	 margin: 30px 0;
}
 .arlo .arlo-item-header {
	 font-size: 1.3em;
	 line-height: 1.2;
	 text-transform: uppercase;
	 font-weight: bold;
	 margin-bottom: 7px;
}
 .arlo .arlo-content-field-name {
	 text-transform: uppercase;
	 font-weight: bold;
	 margin-bottom: 14px;
}
 .arlo .arlo-details {
	 font-weight: normal;
}
 .arlo .arlo-show-more-container {
	 clear: both;
	 padding: 6px 0;
}
 .arlo .arlo-show-more-container .arlo-show-more {
	 margin: 0 auto;
	 width: 150px;
	 line-height: 20px;
	 cursor: pointer;
	 padding: 10px 18px;
	 text-decoration: none;
	 color: white;
	 background-repeat: repeat-x;
	 text-transform: uppercase;
	 background-color: #27b898;
	 border-radius: 3px;
	 transition: all 0.3s ease-in-out;
	 -webkit-transition: all 0.3s ease-in-out;
}
 .arlo .arlo-show-more-container .arlo-show-more:hover {
	 background-color: #002b5c;
	 color: white;
}
 .arlo .arlo-register-interest-container {
	 margin: 3em 0 2em 0;
	 clear: both;
	 text-align: center;
}
 .arlo .arlo-register-interest-container span {
	 display: block;
	 margin-bottom: 10px;
}
 .arlo .arlo-register-interest-container .arlo-register-interest-link {
	 display: inline-block;
}
 .arlo .arlo-register-interest {
	 text-align: center;
}
 .arlo .arlo-register-interest span {
	 display: block;
	 margin-bottom: 10px;
}
 .arlo .arlo-no-event-dates {
	 text-align: center;
}
 .arlo .arlo-no-event-dates a {
	 display: inline-block;
	 background: #27b898;
	 padding: 11px 25px;
	 color: #fff;
	 text-decoration: none;
	 font-size: 75%;
	 margin-left: 20px;
}
 .arlo ul.arlo-content-field-list {
	 padding: 5px 0;
}
 .arlo .arlo-content-field-text ul {
	 margin-left: 30px;
	 padding: 0;
}
 .arlo .arlo-content-field-text ul li {
	 list-style: disc;
	 padding: 0;
	 margin: 0;
}
 .arlo .arlo-profile-field-text ul {
	 margin-left: 30px;
	 padding: 0;
}
 .arlo .arlo-profile-field-text ul li {
	 list-style: disc;
	 padding: 0;
	 margin: 0;
}
 .arlo .arlo-facilityinfo-field-text ul {
	 margin-left: 30px;
	 padding: 0;
}
 .arlo .arlo-facilityinfo-field-text ul li {
	 list-style: disc;
	 padding: 0;
	 margin: 0;
}
 .arlo .arlo-oa-listitems {
	 margin: 0 auto;
}
 .arlo .arlo-event-listitem {
	 float: left;
	 padding: 1px;
}
 .arlo .arlo-event-listitem .arlo-event-register-info p {
	 margin-bottom: 0;
}
 .arlo .arlo-event-listitem .arlo-event-register-info a {
	 font-size: inherit !important;
}
 .arlo .arlo-eventlistitem-inner {
	 width: 100%;
	 padding: 22px;
	 background-color: #f7f7f7;
}
 .arlo .arlo-eventlistitem-inner .arlo-offers {
	 margin-bottom: 10px;
	 padding: 4px 0;
}
 .arlo .arlo-eventlistitem-inner .arlo-offers .arlo-original-price {
	 text-decoration: line-through;
	 color: #002b5c;
}
 .arlo .arlo-eventlistitem-inner .arlo-offers .arlo-offer-label {
	 display: block;
}
 .arlo .arlo-eventlistitem-inner .arlo-offers .arlo-offer-ul {
	 padding: 0;
	 margin: 0;
}
 .arlo .arlo-eventlistitem-inner .arlo-offers .arlo-offer-ul .arlo-discount-offer.arlo-offer-li {
	 color: #27b898;
}
 .arlo .arlo-eventlistitem-inner .arlo-offers .arlo-offer-ul .arlo-offer-li {
	 padding: 0;
	 margin: 4px 0;
	 list-style: none;
	 color: #002b5c;
}
 .arlo .arlo-eventlistitem-inner a {
	 text-decoration: none;
}
 .arlo .arlo-eventlistitem-inner .arlo-notice {
	 font-style: italic;
	 padding: 4px 0;
}
 .arlo .arlo-eventlistitem-inner .arlo-location {
	 display: inline;
	 padding: 4px 0;
}
 .arlo .arlo-eventlistitem-inner .arlo-duration {
	 padding: 4px 0;
}
 .arlo .arlo-eventlistitem-inner .arlo-presenter {
	 padding: 4px 0;
}
 .arlo .arlo-eventlistitem-inner .arlo-sessions {
	 padding: 4px 0;
}
 .arlo .arlo-eventlistitem-inner .arlo-event-register {
	 transition: all 0.3s ease-in-out;
	 -webkit-transition: all 0.3s ease-in-out;
	 cursor: pointer;
	 padding: 7px 18px;
	 text-decoration: none;
	 font-weight: bold;
	 display: inline-block;
	 background-repeat: repeat-x;
	 text-transform: uppercase;
	 border: 2px solid #27b898;
	 border-radius: 3px;
}
 .arlo .arlo-eventlistitem-inner .arlo-event-register:hover {
	 background-color: #27b898;
	 color: white;
}
 .arlo .arlo-eventlistitem-inner .arlo-event-register.arlo-waiting-list {
	 color: #002b5c;
	 border-color: #002b5c;
}
 .arlo .arlo-eventlistitem-inner .arlo-event-register.arlo-waiting-list:hover {
	 background-color: #002b5c;
	 color: white;
}
 .arlo .arlo-eventlistitem-inner .arlo-places-remaining {
	 margin-bottom: 5px;
}
 .arlo .arlo-online-activities {
	 width: 100%;
}
 .arlo .arlo-online-activities li {
	 margin: 0 auto;
	 background-color: #f7f7f7;
	 padding: 24px;
	 margin-bottom: 12px;
}
 .arlo .arlo-online-activities li .arlo-offers {
	 margin-bottom: 10px;
	 padding: 4px 0;
}
 .arlo .arlo-online-activities li .arlo-offers .arlo-original-price {
	 text-decoration: line-through;
	 color: #002b5c;
}
 .arlo .arlo-online-activities li .arlo-offers .arlo-discount-offer {
	 color: #27b898;
}
 .arlo .arlo-online-activities li .arlo-offers .arlo-offer-ul {
	 padding: 0;
	 margin: 0;
}
 .arlo .arlo-online-activities li .arlo-offers .arlo-offer-ul .arlo-offer-li {
	 padding: 0;
	 margin: 4px 0;
	 list-style: none;
	 color: #002b5c;
}
 .arlo .arlo-online-activities li a {
	 text-decoration: none;
}
 .arlo .arlo-online-activities li .arlo-notice {
	 font-style: italic;
	 padding: 4px 0;
}
 .arlo .arlo-online-activities li .arlo-location {
	 display: inline;
	 padding: 4px 0;
}
 .arlo .arlo-online-activities li .arlo-duration {
	 padding: 4px 0;
}
 .arlo .arlo-online-activities li .arlo-presenter {
	 padding: 4px 0;
}
 .arlo .arlo-online-activities li .arlo-event-register {
	 transition: all 0.3s ease-in-out;
	 -webkit-transition: all 0.3s ease-in-out;
	 cursor: pointer;
	 padding: 7px 18px;
	 text-decoration: none;
	 color: #27b898;
	 font-weight: bold;
	 display: inline-block;
	 background-repeat: repeat-x;
	 text-transform: uppercase;
	 border: 2px solid #27b898;
	 border-radius: 3px;
}
 .arlo .arlo-online-activities li .arlo-event-register:hover {
	 background-color: #27b898;
	 color: white;
}
 .arlo .arlo-online-activities li .arlo-event-register.arlo-waiting-list {
	 color: #002b5c;
	 border-color: #002b5c;
}
 .arlo .arlo-online-activities li .arlo-event-register.arlo-waiting-list:hover {
	 background-color: #002b5c;
	 color: white;
}
 .arlo .arlo-online-activities li .arlo-places-remaining {
	 margin-bottom: 5px;
}
 .arlo .arlo-online-activities .arlo-details {
	 float: left;
}
 .arlo .arlo-online-activities .arlo-register {
	 margin-top: 15px;
	 float: right;
}
 .arlo span.arlo-offer-amount {
}
 .arlo span.arlo-offer-taxrate {
	 font-size: 0.8em;
}
 .arlo span.arlo-offer-taxrate-shortname {
	 font-size: 0.8em;
}
 .arlo .tooltipcontent {
	 display: none;
}
 .arlo .arlo-session-info {
	 cursor: pointer;
	 display: block;
}
 .arlo .arlo-sessions {
	 margin: 0;
}
 .arlo .arlo-sessions li * {
	 display: inline-block;
	 word-wrap: normal;
	 white-space: pre;
}
 .arlo .arlo-sessions li .arlo-session-name {
	 display: block;
}
 .arlo .arlo-sessions .arlo-session .arlo-session-name {
	 color: white;
}
 .arlo .arlo-sessions .arlo-session * {
	 line-height: 1;
	 color: #9da1ac;
}
 .arlo li.arlo-session {
	 color: white;
}
 .arlo .tooltip .tooltip-inner {
	 text-align: left;
	 padding: 16px 20px;
	 background: #09142f;
	 max-width: 300px;
}
 .arlo .tooltip .tooltip-inner li {
	 border-bottom: 1px solid #1c253d;
	 padding-bottom: 6px;
	 margin-bottom: 6px;
}
 .arlo .tooltip .tooltip-inner li:last-child {
	 border-bottom: 0;
	 padding-bottom: 0;
	 margin-bottom: 0;
}
 .arlo .tooltip .tooltip-inner h4 {
	 margin-top: 0;
	 letter-spacing: 1px;
}
 .arlo .tooltip.in {
	 opacity: 0.9;
}
 .arlo[max-width~="659px"] .arlo-filters-container {
	 width: 100%;
}
 .arlo[max-width~="659px"] .arlo-filters-container .arlo-timezone-select {
	 padding: 0 35px 0 0;
}
 .arlo[max-width~="659px"] .arlo-filters-container .arlo-collapse-button {
	 display: block;
}
 .arlo[max-width~="659px"] .arlo-filters-container div[id^='filter-'] {
	 padding-right: 0;
}
 .arlo[max-width~="659px"] .arlo-filters-container * {
	 width: 100%;
}
 .arlo[max-width~="659px"] .arlo-filters-container li {
	 margin-bottom: 10px;
}
 .arlo[max-width~="659px"] .arlo-filters-container #arlo-filter-toggle {
	 display: block;
	 cursor: pointer;
	 background: #f4f7f9;
	 padding: 13px 22px;
	 margin-bottom: 20px;
	 color: #99a7bd;
}
 .arlo[max-width~="659px"] .arlo-filters-container #arlo-filter-toggle i {
	 float: right;
	 width: auto;
}
 .arlo[max-width~="659px"] .arlo-filters-container #arlo-filter-toggle .arlo-filter-toggle-hide {
	 display: none;
}
 .arlo[max-width~="659px"] .arlo-filters-container #arlo-filter-toggle .arlo-filter-toggle-show {
	 display: block;
}
 .arlo[max-width~="659px"] .arlo-filters-container #filters {
	 display: none;
}
 .arlo[max-width~="659px"] .arlo-filters .arlo-filter-unordered-list li {
	 padding-left: 0;
	 padding-right: 0;
}
 .arlo[max-width~="659px"] .arlo-filters-container.arlo-show-filter #filters {
	 display: block;
}
 .arlo[max-width~="659px"] .arlo-filters-container.arlo-show-filter #arlo-filter-toggle .arlo-filter-toggle-hide {
	 display: block;
}
 .arlo[max-width~="659px"] .arlo-filters-container.arlo-show-filter #arlo-filter-toggle .arlo-filter-toggle-show {
	 display: none;
}
 .arlo[max-width~="659px"] .arlo-eventlistitem-inner .arlo-event-register {
	 width: 100%;
}
 .arlo[max-width~="659px"] .arlo-online-activities li .arlo-event-register {
	 width: 100%;
}
 .arlo[max-width~="659px"] .arlo-show-more-container .arlo-show-more {
	 width: 100%;
}
 .arlo[max-width~="659px"] .arlo-register {
	 width: 100%;
}
 











/* CLASS LIST -------------------------------------------------------------- */

body {
  /*margin: 1em 0;*/
}

.arlo .arlo-filters {
  overflow: auto;
}

.arlo select {
  padding: .7em 1em;
  border: 1px solid #efefef;
  float: left;
  margin-right: .5em;
  margin-bottom: .9em;
  font-size: 1em;
  font-weight: bold;
  color: #565656;
  text-transform: uppercase;
}
.arlo select:hover {
  background-color: rgba(0,0,0,.02);
}

.arlo .arlo-loading-overlay {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  bottom: 50%;
  top: 50%;
  left: 50%;
  right: 50%;
}

.arlo .arlo-loading-overlay:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.arlo .arlo-loading-overlay:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.arlo .arlo-loading-overlay:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  box-shadow: #072a3d 1.5em 0 0 0, #072a3d 1.1em 1.1em 0 0, #072a3d 0 1.5em 0 0, #072a3d -1.1em 1.1em 0 0, #072a3d -1.5em 0 0 0, #072a3d -1.1em -1.1em 0 0, #072a3d 0 -1.5em 0 0, #072a3d 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.arlo * {
  box-sizing: border-box;
}

.arlo ul,
.arlo li,
.arlo ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.arlo a,
.arlo .arlo-show-more {
  color: #00add5;
  text-decoration: none;
  font-weight: normal;
}

.arlo a:hover {
  color: #262626;
}


.arlo ul.arlo-event-list li.arlo-event-listitem {
  width: 20%;
  float: left;
  overflow: auto;
}

.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover .arlo-event-register,
.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item,
.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover .arlo-detail,
.arlo a,
.arlo .arlo-show-more {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item {
  background-color: white;
  display: block;
  border: 1px solid #efefef;
  padding: 1.8em;
  color: #565656;
  font-weight: 300;
}

.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover {
  background-color: #00add5;
  opacity: 1;
  color: white;
  border-color: #00add5;
}

.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover .arlo-detail {
  color: #ffb1bc;
}

.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover .arlo-event-register {
  background-color: white;
  color: #00add5;
}

.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover .arlo-event-register:hover,
.arlo .arlo-show-more:hover {
  background-color: #565656;
  color: white;
}

.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover li.arlo-offer-li.arlo-discount-offer, 
.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover .arlo-original-price,
.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover .arlo-session-info,
.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover a {
  color: white;
}

.arlo ul.arlo-event-list[max-width~="1500px"] li.arlo-event-listitem {
  width: 25%;
}

.arlo ul.arlo-event-list[max-width~="1200px"] li.arlo-event-listitem {
  width: 33.33%;
}

.arlo ul.arlo-event-list[max-width~="1000px"] li.arlo-event-listitem {
  width: 50%;
}

.arlo ul.arlo-event-list[max-width~="600px"] li.arlo-event-listitem {
  width: 100%;
}

.arlo .arlo-detail {
  margin-top: 15px;
  color: #b5b5b5;
}

.arlo .arlo-title {
  margin-top: 8px;
  font-weight: bold;
}

.arlo .arlo-title a {
  font-size: 1.2em;
  font-weight: 300;
}

.arlo .arlo-date {
  text-transform: uppercase;
  font-weight: bold;
}

.arlo .arlo-detail > div {
  margin-bottom: 10px;
}

.arlo .arlo-show-more-container {
  clear: both;
}

.arlo .arlo-show-more-container {
  text-align: center;
  padding-top: 2em;
}

.arlo .arlo-event-register,
.arlo .arlo-show-more {
    border: none;
    border-radius: 4px;
    box-shadow: none;
    display: inline-block;
    outline: none;
    padding: 13px 25px;
    text-decoration: none;
    text-transform: uppercase;
    background: #00add5;
    color: white;
}

.arlo .arlo-show-more {
  background: #00add5;
  color: white;
  cursor: pointer;
}

.arlo .arlo-event-register-info a {
  font-size: inherit !important;
}

.arlo .arlo-waiting-list {
  background-color: #9c9c9c;
  color: white;
}

.arlo .arlo-original-price {
  text-decoration: line-through;
}

.arlo li.arlo-offer-li {
  margin-bottom: 2px;
}

.arlo li.arlo-offer-li.arlo-discount-offer,
.arlo .arlo-original-price {
  font-weight: normal;
  color: #00add5;
}

.arlo .tooltip {
  position: absolute !important;
  z-index: 1070;
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;
  line-break: auto;
}

.arlo .tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}

.arlo .tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.arlo .tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.arlo .tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.arlo .tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}


.arlo .tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.arlo .tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #05202e;
}

.arlo .tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #05202e;
}

.arlo .tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #05202e;
}

.arlo .tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #05202e;
}

.arlo .tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #05202e;
}

.arlo .tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #05202e;
}

.arlo .tooltip h4 {
  color: white;
  margin: 0 0 15px 0;
  font-size: 1.5em;
  font-weight: 300;
}

.arlo .arlo-session-info {
  cursor: pointer;
  color: #262626;
  font-weight: bold;
  text-transform: uppercase;
}

.arlo .tooltip-inner {
  max-width: 300px;
  padding: 20px;
  color: #fff;
  background-color: #262626;
  border-radius: 4px;
}

.arlo .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.arlo .tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #262626;
}

.arlo .arlo-sessions {
  margin: 0;
}

.arlo .arlo-sessions .arlo-session .arlo-session-name {
  color: white;
}

.arlo .arlo-sessions .arlo-session * {
  line-height: 1;
  color: #9da1ac;
}

.arlo .arlo-sessions .arlo-session > * {
  display: block;
  margin-bottom: 6px;
}

.arlo .arlo-sessions li {
  margin-bottom: 18px;
}

.arlo .arlo-sessions li * {
  display: inline-block;
  word-wrap: normal;
  color: white;
}

.arlo .arlo-sessions li * .arlo-session-name {
  display: block;
}





