body {
  margin: 1em 0;
}

.arlo .arlo-filters {
  overflow: auto;
}

.arlo select {
  padding: .7em 1em;
  border: 1px solid #efefef;
  font-family: "Montserrat", Arial, sans-serif;
  float: left;
  margin-right: .5em;
  margin-bottom: .9em;
  font-size: 1em;
  font-weight: bold;
  color: #565656;
  text-transform: uppercase;
}

.arlo select:hover {
  background-color: rgba(0,0,0,.02);
}

.arlo {
  font-family: "Open Sans", Arial, sans-serif;
  max-width: 1100px;
  margin: 0 auto;
}

.arlo .arlo-loading-overlay {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  bottom: 50%;
  top: 50%;
  left: 50%;
  right: 50%;
}

.arlo .arlo-loading-overlay:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.arlo .arlo-loading-overlay:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.arlo .arlo-loading-overlay:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  box-shadow: #072a3d 1.5em 0 0 0, #072a3d 1.1em 1.1em 0 0, #072a3d 0 1.5em 0 0, #072a3d -1.1em 1.1em 0 0, #072a3d -1.5em 0 0 0, #072a3d -1.1em -1.1em 0 0, #072a3d 0 -1.5em 0 0, #072a3d 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.arlo * {
  box-sizing: border-box;
}

.arlo ul,
.arlo li,
.arlo ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.arlo a,
.arlo .arlo-show-more {
  color: #e9344d;
  text-decoration: none;
  font-weight: normal;
}

.arlo a:hover {
  color: #262626;
}

.arlo .tooltipcontent {
  display: none;
}

.arlo ul.arlo-event-list li.arlo-event-listitem {
  width: 20%;
  float: left;
  overflow: auto;
  font-size: 16px;
}

.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover .arlo-event-register,
.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item,
.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover .arlo-detail,
.arlo a,
.arlo .arlo-show-more{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item {
  background-color: white;
  display: block;
  border: 1px solid #efefef;
  padding: 1.8em;
  color: #565656;
  font-weight: 300;
}

.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover {
  background-color: #e9344d;
  opacity: 1;
  color: white;
  border-color: #e9344d;
}

.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover .arlo-detail {
  color: #ffb1bc;
}

.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover .arlo-event-register {
  background-color: white;
  color: #e9344d;
}

.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover .arlo-event-register:hover,
.arlo .arlo-show-more:hover {
  background-color: #565656;
  color: white;
}

.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover li.arlo-offer-li.arlo-discount-offer, 
.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover .arlo-original-price,
.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover .arlo-session-info,
.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item:hover a {
  color: white;
}

.arlo ul.arlo-event-list[max-width~="1500px"] li.arlo-event-listitem {
  width: 25%;
}

.arlo ul.arlo-event-list[max-width~="1200px"] li.arlo-event-listitem {
  width: 33.33%;
}

.arlo ul.arlo-event-list[max-width~="1000px"] li.arlo-event-listitem {
  width: 50%;
}

.arlo ul.arlo-event-list[max-width~="600px"] li.arlo-event-listitem {
  width: 100%;
}

.arlo .arlo-detail {
  margin-top: 15px;
  color: #b5b5b5;
}

.arlo .arlo-title {
  margin-top: 8px;
  font-weight: bold;
}

.arlo .arlo-title a {
  font-size: 1.2em;
  font-weight: 300;
}

.arlo .arlo-date {
  font-size: 1.8em;
  text-transform: uppercase;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
}

.arlo .arlo-detail > div {
  margin-bottom: 10px;
}

.arlo .arlo-show-more-container {
  clear: both;
}

.arlo .arlo-show-more-container {
  text-align: center;
  padding-top: 2em;
}

.arlo .arlo-event-register,
.arlo .arlo-show-more {
    border: none;
    border-radius: 4px;
    box-shadow: none;
    display: inline-block;
    font: 700 20px/26px 'Montserrat', sans-serif;
    outline: none;
    padding: 13px 25px;
    text-decoration: none;
    text-transform: uppercase;
    background: #e9344d;
    color: white;
}

.arlo .arlo-show-more {
  background: #e9344d;
  color: white;
  cursor: pointer;
}

.arlo .arlo-event-register-info a {
  font-size: inherit !important;
}

.arlo .arlo-waiting-list {
  background-color: #9c9c9c;
  color: white;
}

.arlo .arlo-original-price {
  text-decoration: line-through;
}

.arlo li.arlo-offer-li {
  margin-bottom: 2px;
}

.arlo li.arlo-offer-li.arlo-discount-offer,
.arlo .arlo-original-price {
  font-weight: normal;
  color: #e9344d;
}

.arlo .tooltip {
  position: absolute !important;
  z-index: 1070;
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;
  line-break: auto;
}

.arlo .tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}

.arlo .tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.arlo .tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.arlo .tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.arlo .tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}


.arlo .tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.arlo .tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #05202e;
}

.arlo .tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #05202e;
}

.arlo .tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #05202e;
}

.arlo .tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #05202e;
}

.arlo .tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #05202e;
}

.arlo .tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #05202e;
}

.arlo .tooltip h4 {
  color: white;
  margin: 0 0 15px 0;
  font-size: 1.5em;
  font-weight: 300;
}

.arlo .arlo-session-info {
  cursor: pointer;
  color: #262626;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .9em;
}

.arlo .tooltip-inner {
  max-width: 300px;
  padding: 20px;
  color: #fff;
  background-color: #262626;
  border-radius: 4px;
}

.arlo .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.arlo .tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #262626;
}

.arlo .arlo-sessions {
  margin: 0;
  font-size: 14px;
}

.arlo .arlo-sessions .arlo-session .arlo-session-name {
  color: white;
  letter-spacing: 1px;
}

.arlo .arlo-sessions .arlo-session * {
  line-height: 1;
  color: #9da1ac;
}

.arlo .arlo-sessions .arlo-session > * {
  display: block;
  margin-bottom: 6px;
}

.arlo .arlo-sessions li {
  margin-bottom: 18px;
}

.arlo .arlo-sessions li * {
  display: inline-block;
  word-wrap: normal;
  color: white;
}

.arlo .arlo-sessions li * .arlo-session-name {
  display: block;
}
