/* global headings */
h1,
.arlo .event-detail .arlo-page-title {
  font-size: 4rem !important;
  font-weight: 100 !important;
}
h2, h3,
.arlo .arlo-title {
  color: #00add5 !important;
}

/* links */
.arlo .arlo-text-color-link {
  color: #000 !important;
}

/* buttons */
.arlo .arlo-event-register, 
.arlo .arlo-show-more {
  font-size: 12px;
  font-weight: normal;
  color: #fff !important;
  padding: 8px 15px !important;
  background: #00add5 !important;
  border-radius: 0px !important;
  border-color: transparent !important;
}

/* tooltip */
.arlo-sessions .tooltip {
  width: 250px !important;
}
.arlo-sessions .tooltip h4 {
  display: none !important;
}



/* ------------------------ */

/* arlo - class grid */
.arlo ul.arlo-event-list li.arlo-event-listitem {
  position: relative !important;
  width: 25%;
  float: left;
  overflow: auto;
  font-size: 12px;
  font-weight: normal;
  overflow: visible;
}
.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-list-item {
  position: relative !important;
  min-height: 330px !important;
}
.arlo ul.arlo-event-list .arlo-detail {
  position: absolute !important;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 20px;
}
.arlo .arlo-detail > div {
  margin-bottom: 0px;
}
.arlo .arlo-date {
  font-size: 12px;
  font-weight: normal;
}
.arlo ul.arlo-event-list .arlo-title {
  width: 80%;
  font-size: 24px;
  line-height: 1.15em;
}
.arlo .arlo-session-info {
  font-weight: normal;
}
.arlo ul.arlo-event-list .arlo-registration {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.arlo .arlo-registration .arlo-event-register {
  color: #fff !important;
  background: #333 !important;
}
.arlo ul.arlo-event-list .arlo-registration .arlo-event-register-info {
  display: block;
  padding: 15px;
}

/* hover */
.arlo ul.arlo-event-list li.arlo-event-listitem .arlo-registration {
  opacity: 0;
}
.arlo ul.arlo-event-list li.arlo-event-listitem:hover .arlo-registration {
  opacity: 1;
}



/* ------------------------ */

/* ARLO - CLASS DETAIL */
.arlo .class-detail-wrapper {
  display: flex;
}
/* COL 1 */
.arlo .class-detail.col-1 {
  width: 50%;
}
.arlo .class-detail .arlo-page-header {
  position: relative;
  background: #00add5 !important;
}
.arlo .class-detail .arlo-class-categories {
  position: absolute;
  top: 0;
  left: 0;
}
.arlo .class-detail .arlo-class-categories ul li {
  font-size: 10px;
  background: #fff;
  padding: 5px 8px;
  margin-right: 1px;
}
.arlo .class-detail .arlo-main-content .arlo-summary {
  font-size: inherit !important;
  line-height: inherit !important;
}
.arlo .class-detail .arlo-content-field-listitem {
  margin: 30px !important;
}
/* COL 2 */
.arlo .class-detail.col-2 {
  width: 50%;
}
.arlo .class-detail-wrapper .arlo-page-content {
  padding: 0px !important;
}
.arlo .class-detail .arlo-event-list {
  margin-top: 0px !important;
}
#arlo-event-template ul.arlo-event-list li.arlo-event-listitem {
  width: 100%;
  float: none;
}
#arlo-event-template ul.arlo-event-list li.arlo-event-listitem .arlo-eventlistitem-inner {
  height: auto !important;
}
/* ARLO - SHOW MORE DATES BTN */
.arlo .class-detail .arlo-show-more-container {
  padding: 0px;
}
.arlo .class-detail .arlo-show-more-container .arlo-show-more {
  display: block;
  width: 100%;
  /*color: #333 !important;
  text-align: left;  
  font-size: 10px !important;
  background: #e0eef1 !important;
  padding-left: 10% !important;*/
}
.arlo .class-detail .arlo-register-interest-container {
  margin: 30px !important;
}
.arlo .class-detail .arlo-register-interest,
.arlo .class-detail .arlo-register-private-interest {
  text-align: left !important;
  font-size: 0.8em !important;
  margin-bottom: 0px !important;
}

/* basic height matching for class detail header boxes */
.arlo .class-detail .arlo-page-header,
.arlo .class-detail .arlo-eventlistitem-inner {
  padding: 4rem !important;
  min-height: 400px !important;
}





/* MISC */

.arlo-referral-link {
  display: none !important;
}
