
/* links */
.arlo .arlo-text-color-link {
  color: #000 !important;
}

/* buttons */
.arlo .arlo-event-register, 
.arlo .arlo-show-more {
  font-size: 12px;
  font-weight: normal;
  color: #fff !important;
  padding: 8px 15px !important;
  background: #00add5 !important;
  border-radius: 0px !important;
  border-color: transparent !important;
}

/* headings */
h1,
.arlo .arlo-page-title {
  font-size: 2.5rem !important;
}
h2, h3,
.arlo .arlo-title {
  color: #00add5 !important;
}

/* ------------------------ */

/* arlo - class grid */
.arlo ul.arlo-event-list li.arlo-event-listitem {
  position: relative;
  width: 25%;
  min-height: 200px;
  float: left;
  overflow: auto;
  font-size: 12px;
  font-weight: normal;
  overflow: visible;
}
.arlo .arlo-detail > div {
  margin-bottom: 0px;
}
.arlo .arlo-date {
  font-size: 12px;
  font-weight: normal;
}
.arlo .arlo-title {
  font-size: 24px;
  line-height: 1.15em;
}
.arlo .arlo-session-info {
  font-weight: normal;
}
.arlo .arlo-registration {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.arlo .arlo-registration .arlo-event-register {
  color: #fff !important;
  background: #333 !important;
  opacity: 0;
}

/* hover */
.arlo ul.arlo-event-list li.arlo-event-listitem:hover .arlo-event-register {
  opacity: 1;
}

/* CLASS DETAIL */
.class-detail-wrapper {
  display: flex;
}
/* COL 1 */
.class-detail.col-1 {
  width: 50%;
}
.arlo .arlo-page-header {
  background: #00add5 !important;
}
.class-detail .arlo-content-field-listitem {
  margin: 30px !important;
}
/* COL 2 */
.class-detail.col-2 {
  width: 50%;
}
.class-detail-wrapper .arlo-page-content {
  padding: 0px !important;
}
.class-detail .arlo-event-list {
  margin-top: 0px !important;
}
#arlo-event-template ul.arlo-event-list li.arlo-event-listitem {
  width: 100%;
  float: none;
}
#arlo-event-template ul.arlo-event-list li.arlo-event-listitem .arlo-eventlistitem-inner {
  height: auto !important;
}
.class-detail .arlo-register-interest-container {
  margin: 30px !important;
}
.class-detail .arlo-register-interest,
.class-detail .arlo-register-private-interest {
  text-align: left !important;
  font-size: 0.8em !important;
  margin-bottom: 0px !important;
}

/* basic height matching for class detail header boxes */
.class-detail .arlo-page-header,
.class-detail .arlo-eventlistitem-inner {
  min-height: 300px;
}
